.lost-items-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}

.lost-item-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  max-width: 300px; /* Adjust this value as needed */
  align-content: center;
}

.lost-item-image {
  width: 100%; /* Ensure the image takes up the full width of its container */
  height: 200px; /* Set a fixed height for all images */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  border-radius: 5px;
}

.lost-item-details {
  margin-top: 10px;
}

.lost-item-title {
  font-size: 18px;
  font-weight: bold;
}

.lost-item-info {
  margin-top: 5px;
}
